# ignore all personal env files
envFiles/*

#do not ignore sample-env file
!envFiles/sample-env.json
lib/env/session.json

# node modules
node_modules

#nodemon
nodemon.json

#misc

# Copilot local validation targets
.github/validate-config.json